/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/01/2017, 21:12:19
    Author     : glei-
*/
@charset"utf-8";
.cad{
    border: 5px solid white;
    box-shadow: 1px 1px 4px black;
    margin-top: 10px;
    background-color: wheat;
}
.menu {
    background-color: #000;
}
a{
    color: red !important;
}